<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configuración para la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Nivel de log para las categorías específicas -->
    <logger name="com.example" level="debug"/>

    <!-- Aplicar la configuración a todas las categorías -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
